body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-image: url('back.jpg');
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

nav{
    display: flex;
    width: 80%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    align-items: center;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li a:hover{
    color: red;
}

.logo{
    font-size: 1.5rem;
    color: red;
}

.logo img {
    max-width: 12%;
    position: absolute;
    top: 12px;
    left: 20px;
}

.hero {
    background-image: url('back.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    text-align: center;
}

.hero-content {
    padding: 20px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5rem;
    color: #0d8fcc;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e25822;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #c40dab;
    color: black;
}

.featured-dishes {
    background-image: url('back2.jpg');
    background-size: cover;
    text-align: center;
    padding: 50px 0;
}

.featured-dishes h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.dish {
    margin: 20px;
}

.dish img {
    max-width: 25%;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dish h3 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    margin-top: 10px;
    color: #444;
}

.dish p {
    font-family: 'Comic Sans MS', cursive;
    font-size: 1.2rem;
    color: #777;
    margin-top: 10px;
}

footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 10px;
}
